[submodule "Carthage/Checkouts/Marshal"]
	path = Carthage/Checkouts/Marshal
	url = https://github.com/utahiosmac/Marshal.git
[submodule "Carthage/Checkouts/Reactor"]
	path = Carthage/Checkouts/Reactor
	url = https://github.com/timshadel/Reactor.git
[submodule "Carthage/Checkouts/SwiftyBeaver"]
	path = Carthage/Checkouts/SwiftyBeaver
	url = https://github.com/SwiftyBeaver/SwiftyBeaver.git
[submodule "Carthage/Checkouts/Whisper"]
	path = Carthage/Checkouts/Whisper
	url = https://github.com/hyperoslo/Whisper.git
[submodule "Carthage/Checkouts/PromiseKit"]
	path = Carthage/Checkouts/PromiseKit
	url = https://github.com/mxcl/PromiseKit.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Alamofire-"]
	path = Carthage/Checkouts/Alamofire-
	url = https://github.com/PromiseKit/Alamofire-.git
