# Follow Bart's guide to dependencies
# https://gist.github.com/bwhiteley/aa571da100bca3a65c1f

github "utahiosmac/Marshal" ~> 1.2
github "mxcl/PromiseKit" ~> 4.0
github "PromiseKit/Alamofire-" ~> 1.0
github "timshadel/Reactor" "master"
github "SwiftyBeaver/SwiftyBeaver" ~> 1.1.0
github "hyperoslo/Whisper" ~> 4.0
